<!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
<div class="fixed inset-0 flex z-40 md:hidden" role="dialog" aria-modal="true">
  <!--
    Off-canvas menu overlay, show/hide based on off-canvas menu state.

    Entering: "transition-opacity ease-linear duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "transition-opacity ease-linear duration-300"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 bg-gray-600 bg-opacity-75" aria-hidden="true"></div>

  <!--
    Off-canvas menu, show/hide based on off-canvas menu state.

    Entering: "transition ease-in-out duration-300 transform"
      From: "-translate-x-full"
      To: "translate-x-0"
    Leaving: "transition ease-in-out duration-300 transform"
      From: "translate-x-0"
      To: "-translate-x-full"
  -->
  <div class="relative flex-1 flex flex-col max-w-xs w-full pt-5 pb-4 bg-white">
    <!--
      Close button, show/hide based on off-canvas menu state.

      Entering: "ease-in-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in-out duration-300"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="absolute top-0 right-0 -mr-12 pt-2">
      <button type="button" class="ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
        <span class="sr-only">Close sidebar</span>
        <!-- Heroicon name: outline/x -->
        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>

    <div class="flex justify-center items-center flex-shrink-0 px-4 py-2 h-[72px] shadow">
      <a 
        hx-get="{{url_for(name='landing-page')}}"
        hx-target="#viewport"
        hx-swap="innerHTML"
        hx-push-url="true"
        class="cursor-pointer">
      <img class="h-8 w-auto" src="{{ url_for('static', path='/images/nav-letters.png') }}" alt="Pallet Tracker">
      </a>
    </div>
    <div class="mt-5 flex-grow flex flex-col">
      <nav id="side-bar"
        class="flex-1 px-2 pb-4 space-y-1"
        hx-indicator="#content-loader">
        <!-- Current: "bg-gray-100 text-gray-900", Default: "text-gray-600 hover:bg-gray-50 hover:text-gray-900" -->
        <a id="dashboard"
          hx-get="{{url_for(name='landing-page')}}"
          hx-target="#viewport"
          hx-swap="innerHTML"
          hx-push-url="true"
          class="side-bar-menu group">
          <!--
            Heroicon name: outline/home

            Current: "text-gray-500", Default: "text-gray-400 group-hover:text-gray-500"
          -->
          <svg class="side-bar-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
          </svg>
          Dashboard
        </a>
        {% if view and view.can(request, role='super_admin') %}
        <a id="action" 
          hx-get="{{ url_for(name='action-list') }}"
          hx-target="#viewport"
          hx-swap="innerHTML"
          hx-push-url="true"
          class="side-bar-menu group">
          <svg class="side-bar-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" data-heroicon="outline/shield-check">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
          </svg>
          Action
        </a>
        <a id="role" 
          hx-get="{{ url_for(name='role-list') }}"
          hx-target="#viewport"
          hx-swap="innerHTML"
          hx-push-url="true"
          class="side-bar-menu group">
          <svg class="side-bar-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" data-heroicon="outline/users">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
          </svg>
          Role
        </a>
        <a id="model" 
          hx-get="{{ url_for(name='model-list') }}"
          hx-target="#viewport"
          hx-swap="innerHTML"
          hx-push-url="true"
          class="side-bar-menu group">
          <svg class="side-bar-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" data-heroicon="outline/database">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4" />
          </svg>
          Model
        </a>
        <a id="model_record_type" 
          hx-get="{{ url_for(name='model_record_type-list') }}"
          hx-target="#viewport"
          hx-swap="innerHTML"
          hx-push-url="true"
          class="side-bar-menu group">
          <svg class="side-bar-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" data-heroicon="outline/flag">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 21v-4m0 0V5a2 2 0 012-2h6.5l1 1H21l-3 6 3 6h-8.5l-1-1H5a2 2 0 00-2 2zm9-13.5V9" />
          </svg>
          Model Record Type
        </a>
        <a id="model_field" 
          hx-get="{{ url_for(name='model_field-list') }}"
          hx-target="#viewport"
          hx-swap="innerHTML"
          hx-push-url="true"
          class="side-bar-menu group">
          <svg class="side-bar-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" data-heroicon="outline/terminal">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
          </svg>
          Model Field
        </a>
        <a id="page_layout" 
          hx-get="{{ url_for(name='page_layout-list') }}"
          hx-target="#viewport"
          hx-swap="innerHTML"
          hx-push-url="true"
          class="side-bar-menu group">
          <svg class="side-bar-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" data-heroicon="outline/template">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z" />
          </svg>
          Page Layout
        </a>
        <a id="list_layout" 
          hx-get="{{ url_for(name='list_layout-list') }}"
          hx-target="#viewport"
          hx-swap="innerHTML"
          hx-push-url="true"
          class="side-bar-menu group">
          <svg class="side-bar-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" data-heroicon="outline/table">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
          </svg>
          List Layout
        </a>
        <a id="tab" 
          hx-get="{{ url_for(name='tab-list') }}"
          hx-target="#viewport"
          hx-swap="innerHTML"
          hx-push-url="true"
          class="side-bar-menu group">
          <svg class="side-bar-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" data-heroicon="outline/folder">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z" />
          </svg>
          Tab
        </a>
        <a id="app" 
          hx-get="{{ url_for(name='app-list') }}"
          hx-target="#viewport"
          hx-swap="innerHTML"
          hx-push-url="true"
          class="side-bar-menu group">
          <svg class="side-bar-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" data-heroicon="outline/inbox">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
          </svg>
          App
        </a>
        <!-- 
        <a id="calendar" 
          xhx-target="#viewport"
          xhx-swap="innerHTML"
          xhx-push-url="true"
          class="{% if request.path in [url, '/calendar'] %}bg-gray-100 text-gray-900{% else %}text-gray-600 hover:bg-gray-50 hover:text-gray-900{% endif %} group flex items-center px-2 py-2 text-sm font-medium rounded-md">
          <svg class="side-bar-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" data-heroicon="outline/calendar">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
          </svg>
          Calendar
        </a>
        <a id="report" 
          xhx-target="#viewport"
          xhx-swap="innerHTML"
          xhx-push-url="true"
          class="{% if request.path in [url, '/report'] %}bg-gray-100 text-gray-900{% else %}text-gray-600 hover:bg-gray-50 hover:text-gray-900{% endif %} group flex items-center px-2 py-2 text-sm font-medium rounded-md">
          <svg class="side-bar-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" data-heroicon="outline/chart-bar">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
          </svg>
          Calendar
        </a>
        -->
        {% endif %}
      </nav>
    </div>
  </div>

  <div class="flex-shrink-0 w-14" aria-hidden="true">
    <!-- Dummy element to force sidebar to shrink to fit close icon -->
  </div>
</div>
