<div class="hidden xl:flex flex-col min-h-screen">
  <a href="{{url_for(name='landing-page')}}" class="-intro-x flex items-center pt-5">
    <img alt="Logo" class="w-6" src="{{ url_for('static', path='/images/logo.svg') }}">
    <span class="text-white text-lg ml-3"> Fa<span class="font-medium">lm</span> </span>
  </a>
  <div class="my-auto">
    <img alt="Illustration" class="-intro-x w-1/2 -mt-16" src="{{ url_for('static', path='/images/illustration.svg') }}">
    <div class="-intro-x text-white font-medium text-4xl leading-tight mt-10">
      A few more clicks to 
      <br>
      sign in to your account.
    </div>
    <div class="-intro-x mt-5 text-lg text-white text-opacity-70 dark:text-gray-500">Manage all your e-commerce accounts in one place</div>
  </div>
</div>
