{% extends "shell/auth_base.html" %}

{% block content %}
  <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
    <form method="post"
      class="my-auto mx-auto xl:ml-20 bg-white dark:bg-dark-1 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
      {# {% csrf_token %} #}
        <h2 class="intro-x font-bold xl:text-emerald-50 text-2xl xl:text-3xl text-center xl:text-left">
          Log In
        </h2>
        <div class="intro-x mt-8">
          <input name="email" type="email" class="form-control block w-full px-3 py-2 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            class-two="intro-x login__input form-control py-3 px-4 border-gray-300 block" placeholder="Email">
          <input name="password" type="password" class="form-control block w-full px-3 py-2 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 mt-4 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            class-two="intro-x login__input form-control py-3 px-4 border-gray-300 block mt-4" placeholder="Password">
        </div>
        <div class="intro-x flex xl:text-emerald-50 dark:text-gray-600 text-xs sm:text-sm mt-4">
          User name or password invalid. Please try again.
        </div>
        <div class="intro-x flex xl:text-emerald-50 dark:text-gray-600 text-xs sm:text-sm mt-4">
          <div class="flex items-center mr-auto">
            <input id="remember-me" type="checkbox" class="form-check-input border mr-2">
            <label class="cursor-pointer select-none xl:text-emerald-50" for="remember-me">Remember me</label>
          </div>
          <a href="{{ url_for('password-reset') }}" class="xl:text-emerald-50">Forgot Password?</a> 
        </div>
        <div class="intro-x mt-5 xl:mt-8 xl:flex xl:flex-row xl:gap-4 xtext-center xxl:text-left">
          <button class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top" type="submit">Login</button>
          <a href="{{ url_for('signup') }}" class="btn btn-outline text-emerald-50 py-3 px-4 w-full xl:w-32 mt-3 xl:mt-0 block text-center">Sign up</a>
        </div>
        <div class="intro-x mt-4 xl:mt-10 xl:text-emerald-50 dark:text-gray-600 text-center xl:text-left">
          <span class="xl:text-emerald-50">By signin up, you agree to our</span>
          <br class="hidden xl:block">
          <a class="xl:text-emerald-50 text-theme-1 dark:text-theme-10" href="">Terms and Conditions</a><span class="xl:text-emerald-50"> & </span><a class="xl:text-emerald-50 text-theme-1 dark:text-theme-10" href="">Privacy Policy</a> 
        </div>
    </form>
  </div>
{% endblock content %}
