{% extends "registration_base.html" %}
{% from 'macros/macros.html' import crispy %}
{% from 'macros/macros.html' import crispy2 %}

{% block content %}
  <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">                  
    <form method="post"
      class="my-auto mx-auto xl:ml-20 bg-white dark:bg-dark-1 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
      {# {% csrf_token %} #}
      <h1 class="mb-5 text-3xl text-gray-800">Reset your password</h1>
      {# {{ form|crispy }} #}
      {{ crispy(form) }}
      <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
        <a href="{{ url_for('login') }}" 
          class="py-3 px-4 w-full xl:w-32 mt-3 xl:mt-0 align-top">
          Already haven an account?
        </a>
        <button class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top"
          type="submit">
          Reset
        </button>
      </div>
    </form>
  </div>
{% endblock content %}