{% extends "shell/legal_base.html" %}

{% block content %}
<section id="privacy-section" class="intro-y text-gray-600 body-font mx-auto w-full xmd:w-5/6 xxl:w-4/5 xmax-w-xl">
  <div class="container px-5 pt-4 pb-10 xpy-24 mx-auto flex flex-col">
    <h1 class="my-2 text-3xl text-gray-800">
      Privacy Statement
    </h1>
    <div class="flex-1 flex flex-col text-xs mt-2">
      <p class="my-1">
        First Alliance Logistics Management is committed to protecting your privacy and developing technology that gives you the most powerful and safe online experience. This Statement of Privacy applies to the First Alliance Logistics Management Web site and governs data collection and usage. By using the First Alliance Logistics Management website, you consent to the data practices described in this statement.
      </p>
      <h2 class="my-1 text-xl text-gray-700">Collection of your Personal Information</h2>
      <p class="my-1">
        First Alliance Logistics Management collects personally identifiable information, such as your e-mail address, name, home or work address or telephone number. First Alliance Logistics Management also collects anonymous demographic information, which is not unique to you, such as your ZIP code, age, gender, preferences, interests and favorites.
      </p>
      <p class="my-1">
        There is also information about your computer hardware and software that is automatically collected by First Alliance Logistics Management. This information can include: your IP address, browser type, domain names, access times and referring Web site addresses. This information is used by First Alliance Logistics Management for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the First Alliance Logistics Management Web site.
      </p>
      <p class="my-1">
        Please keep in mind that if you directly disclose personally identifiable information or personally sensitive data through First Alliance Logistics Management public message boards, this information may be collected and used by others. Note: First Alliance Logistics Management does not read any of your private online communications.
      </p>
      <p class="my-1">
        First Alliance Logistics Management encourages you to review the privacy statements of Web sites you choose to link to from First Alliance Logistics Management so that you can understand how those Web sites collect, use and share your information. First Alliance Logistics Management is not responsible for the privacy statements or other content on Web sites outside of the First Alliance Logistics Management and First Alliance Logistics Management family of Web sites.
      </p>
      <h2 class="my-1 text-xl text-gray-700">Use of your Personal Information</h2>
      <p class="my-1">
        First Alliance Logistics Management collects and uses your personal information to operate the First Alliance Logistics Management Web site and deliver the services you have requested. First Alliance Logistics Management also uses your personally identifiable information to inform you of other products or services available from First Alliance Logistics Management and its affiliates. First Alliance Logistics Management may also contact you via surveys to conduct research about your opinion of current services or of potential new services that may be offered.
      </p>
      <p class="my-1">
        First Alliance Logistics Management does not sell, rent or lease its customer lists to third parties. First Alliance Logistics Management may, from time to time, contact you on behalf of external business partners about a particular offering that may be of interest to you. In those cases, your unique personally identifiable information (e-mail, name, address, telephone number) is not transferred to the third party. In addition, First Alliance Logistics Management may share data with trusted partners to help us perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to First Alliance Logistics Management, and they are required to maintain the confidentiality of your information.
      </p>
      <p class="my-1">
        First Alliance Logistics Management does not use or disclose sensitive personal information, such as race, religion, or political affiliations, without your explicit consent.
      </p>
      <p class="my-1">
        First Alliance Logistics Management keeps track of the Web sites and pages our customers visit within First Alliance Logistics Management, in order to determine what First Alliance Logistics Management services are the most popular. This data is used to deliver customized content and advertising within First Alliance Logistics Management to customers whose behavior indicates that they are interested in a particular subject area.
      </p>
      <p class="my-1">
        First Alliance Logistics Management Web sites will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on First Alliance Logistics Management or the site; (b) protect and defend the rights or property of First Alliance Logistics Management; and, (c) act under exigent circumstances to protect the personal safety of users of First Alliance Logistics Management, or the public.
      </p>
      <h2 class="my-1 text-xl text-gray-700">Use of Cookies</h2>
      <p class="my-1">
        The First Alliance Logistics Management Web site use "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a Web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.
      </p>
      <p class="my-1">
        One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize First Alliance Logistics Management's pages, or register with First Alliance Logistics Management site or services, a cookie helps First Alliance Logistics Management to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same First Alliance Logistics Management Web site, the information you previously provided can be retrieved, so you can easily use the First Alliance Logistics Management features that you customized.
      </p>
      <p class="my-1">
        You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the First Alliance Logistics Management services or Web sites you visit.
      </p>
      <h2 class="my-1 text-xl text-gray-700">Security of your Personal Information</h2>        
      <p class="my-1">
        First Alliance Logistics Management secures your personal information from unauthorized access, use or disclosure. First Alliance Logistics Management secures the personally identifiable information you provide on computer servers in a controlled, secure environment, protected from unauthorized access, use or disclosure. When personal information (such as a credit card number) is transmitted to other Web sites, it is protected through the use of encryption, such as the Secure Socket Layer (SSL) protocol.
      </p>
      <h2 class="text-xl text-gray-700">Changes to this Statement</h2>
      <p class="my-1">
        First Alliance Logistics Management will occasionally update this Statement of Privacy to reflect company and customer feedback. First Alliance Logistics Management encourages you to periodically review this Statement to be informed of how First Alliance Logistics Management is protecting your information.
      </p>
      <h2 class="my-1 text-xl text-gray-700">Contact Information</h2>
      <p class="my-1">
        First Alliance Logistics Management welcomes your comments regarding this Statement of Privacy. If you believe that First Alliance Logistics Management has not adhered to this Statement, please contact First Alliance Logistics Management at <a href="mailto:support@palletalliance.com" class="text-emerald-600">support@palletalliance.com</a>. We will use commercially reasonable efforts to promptly determine and remedy the problem.
      </p>
    </div>
  </div>
</section>
{% endblock %}