import markupsafe
from typing import Text
from starlette_wtf import StarletteForm, CSRFProtectMiddleware, csrf_protect
from wtforms import (
  BooleanField,
  DateField,
  DateTimeField,
  DecimalField,
  EmailField,
  FileField,
  MultipleFileField,
  FloatField,
  #IntegerField,
  RadioField,
  SelectField,
  SelectMultipleField,
  # StringField,
  SubmitField,
  HiddenField,
  PasswordField,
  TextAreaField,
  FormField,
  # FieldList,
  Form,
)
from wtforms.validators	import DataRequired, AnyOf, NoneOf
from mango.core.fields import QuerySelectField, QuerySelectMultipleField, ToggleSwitchField
from mango.core.fields import (
  IntegerField2 as IntegerField,
  StringField2 as StringField,
  FieldList2 as FieldList
)
from mango.core.constants import chk_class, input_class, label_class, select_class, select_multiple_class, textarea_class, toggle_radio_class, toggle_switch_class, hs_element_type, hs_config_tom_select, hs_field_type
from mango.core.choices import DATA_TYPES, FIELD_TYPES
from mango.core.validators import DataRequiredIf, OptionalIfFieldEqualTo


{% for field in ra.fields -%}
{%- if field.element_type == 'FormField' -%}
class {{field.label}}Form(Form):
  {% for form_field in field.fields %}
    {% if form_field.field_type == 'FieldList' %}
    {{form_field.name}} = {{form_field.field_type}}(StringField(
      '{{form_field.label}}',
      {% if form_field.field_type == 'TagsField' %}
      separator=',',
      choices=[
        {% for choice in form_field.choices %}
          ('{{choice['name']}}', '{{choice['label']}}'),
        {% endfor %}
      ],
      {% endif %}
      {% if form_field.field_type == 'RadioField' or form_field.field_type == 'ToggleRadioField' %}
      choices=[
        {% for choice in form_field.choices %}
          ('{{choice['name']}}', '{{choice['label']}}'),
        {% endfor %}
      ],
      {% endif %}
      {% if form_field.validator_list %}validators=[{% for val in form_field.validator_list %}{{val}}{% endfor %}]{% if form_field.attribute_list %},{% endif %}{% endif %}
      {% if form_field.attribute_list %}render_kw={ {% for k, v in form_field.attribute_list.items() %} "{{k}}":"{{v}}", {% endfor %} }{% endif %}
    ))
    {% else %}
    {{form_field.name}} = {{form_field.field_type}}(
      '{{form_field.label}}',
      {% if form_field.field_type == 'TagsField' %}
      separator=',',
      choices=[
        {% for choice in form_field.choices %}
          ('{{choice['name']}}', '{{choice['label']}}'),
        {% endfor %}
      ],
      {% endif %}
      {% if form_field.field_type == 'RadioField' or form_field.field_type == 'ToggleRadioField' %}
      choices=[
        {% for choice in form_field.choices %}
          ('{{choice['name']}}', '{{choice['label']}}'),
        {% endfor %}
      ],
      {% endif %}
      {% if form_field.validator_list %}validators=[{% for val in form_field.validator_list %}{{val}}{% endfor %}]{% if form_field.attribute_list %},{% endif %}{% endif %}
      {% if form_field.attribute_list %}render_kw={ {% for k, v in form_field.attribute_list.items() %} "{{k}}":"{{v}}", {% endfor %} }{% endif %}
    )
    {% endif %}
  {% endfor %}
{%- endif -%}
{%- endfor -%}

class {{ra.model.label}}Form(StarletteForm):
  {% for field in ra.fields -%}
    {%- if field.field_type == 'FormField' -%}
      {{- field.name -}} = {{- field.field_type -}}({{- field.label -}}Form)
    {%- elif field.field_type.startswith('FieldList') -%}
      {{- field.name -}} = {{- field.field_type -}}
    {%- else -%}
  {{- field.name }} = {{ field.field_type -}}(
    '{{ field.label }}', 
    {%- if field.field_type == 'RadioField' or field.field_type == 'ToggleRadioField' -%}
      choices=[
        {# {% for choice in field.choices %} #}
          {# ('{{choice['name']}}', '{{choice['label']}}'), #}
        {# {% endfor %} #}
      ],
    {%- else -%}
    {%- endif -%}
    {%- if field.validator_list -%}
      validators = [
        {% for val in field.validator_list %}
          {{val}}
        {% endfor %}
      ],
    {%- else -%}
    {%- endif %} 
    {% if field.attribute_list -%}
      render_kw = {
      {% for kvp in field.attribute_list -%}
      {% if kvp.key and kvp.value %}
      '{{kvp.key}}' : {% if kvp.use_quotes %}'{{kvp.value}}'{% else %}{{kvp.value}}{% endif %},
      {% endif %}
      {%- endfor %}
    },
    {%- else -%}
    {%- endif %}
  )
  {% endif -%}
  {%- endfor %}