import markupsafe
from typing import Text
from starlette_wtf import StarletteForm, CSRFProtectMiddleware, csrf_protect
from wtforms import (
  StringField, 
  TextAreaField, 
  PasswordField, 
  EmailField, 
  SelectField,
  BooleanField,
  IntegerField,
  FormField,
  Form,
)
from wtforms.validators	import DataRequired, NoneOf
from mango.core.forms import (
  label_class, 
  chk_class, 
  input_class, 
  select_class, 
  textarea_class, 
  QuerySelectField
)

{% for field in ra.fields %}
  {% if field.element_type == 'FormField' %}
class {{field.label}}Form(Form):
  {% for form_field in field.fields %}
  {{form_field.name}} = {{form_field.element_type}}(
    '{{form_field.label}}', 
    validators=[{% for val in form_field.validators %}{{val}}{% endfor %}]{% if form_field.element_attributes %},{% endif %} 
    {% if form_field.element_attributes %}render_kw={ {% for k, v in form_field.element_attributes.items() %} "{{k}}":"{{v}}", {% endfor %} }{% endif %}
  )
  {% endfor %}
  {% endif %}
{% endfor %}

class {{ra.label}}Form(StarletteForm):
  {% for field in ra.fields %}
  {% if field.element_type == 'FormField' %}
  {{field.name}} = {{field.element_type}}({{field.label}}Form)
  {% else %}
  {{field.name}} = {{field.element_type}}(
    '{{field.label}}', 
    validators=[{% for val in field.validators %}{{val}}{% endfor %}]{% if field.element_attributes %},{% endif %} 
    {% if field.element_attributes %}render_kw={ {% for k, v in field.element_attributes.items() %} "{{k}}":"{{v}}", {% endfor %} }{% endif %}
  )
  {% endif %}
  {% endfor %}

  def layout_fields(self):
    fields = [
      {% for field in ra.page_layout %}
        {
          '{{field.field_type}}': '{{field.name}}', 
          {% if field.content %}'content': '{{field.content}}',{% endif %}
          'css_class': {% if field.css_class_use_quotes %}'{% endif %}{{field.css_class}}{% if field.css_class_use_quotes %}'{% endif %}, 
          'fields': [
            {% for inner in field.page_layout %}
              {
                '{{inner.field_type}}': {% if inner.field_type == 'type' %}'{{inner.name}}'{% else %}self.{{inner.name}}{% endif %}, 
                {% if inner.content %}'content': '{{inner.content}}',{% endif %}
                'css_class': {% if inner.css_class_use_quotes %}'{% endif %}{{inner.css_class}}{% if inner.css_class_use_quotes %}'{% endif %},
                {% if inner.page_layout %}

                'fields': [
                  {% for inner_inner in inner.page_layout %}
                    {
                      '{{inner_inner.field_type}}': {% if inner_inner.field_type == 'type' %}'{{inner_inner.name}}'{% else %}self.{{inner_inner.name}}{% endif %}, 
                      {% if inner_inner.content %}'content': '{{inner_inner.content}}',{% endif %}
                      'css_class': {% if inner_inner.css_class_use_quotes %}'{% endif %}{{inner_inner.css_class}}{% if inner_inner.css_class_use_quotes %}'{% endif %},
                      'label_class': {% if inner_inner.label_class_use_quotes %}'{% endif %}{{inner_inner.label_class}}{% if inner_inner.label_class_use_quotes %}'{% endif %}
                    },
                  {% endfor %}
                ],

                {% else %}

                {% if inner.label_class %}'label_class': {% if inner.label_class_use_quotes %}'{% endif %}{{inner.label_class}}{% if inner.label_class_use_quotes %}'{% endif %}{% endif %}

                {% endif %}
              },
            {% endfor %}
          ]
        },
      {% endfor %}
    ]
    return fields

