import sys
from mango.core import reloader


@app.get('/reload_{{ra.model.name}}')
async def reload_{{ra.model.name}}():
  create_route = next((x for x in app.routes if x.name == '{{ra.model.name}}-create'), None)
  update_route = next((x for x in app.routes if x.name == '{{ra.model.name}}-item'), None)
  delete_route = next((x for x in app.routes if x.name == '{{ra.model.name}}-delete'), None)
  list_route = next((x for x in app.routes if x.name == '{{ra.model.name}}-list'), None)

  if create_route:
    app.routes.remove(create_route)
  if update_route:
    app.routes.remove(update_route)
  if delete_route:
    app.routes.remove(delete_route)
  if list_route:
    app.routes.remove(list_route)

  module = sys.modules['{{ra.model.name}}__c']
  reloader.reload_all(module)
  return {"msg": "reload {{ra.model.name}} successful!"}


create_route = next((x for x in app.routes if x.name == '{{ra.model.name}}-create'), None)
update_route = next((x for x in app.routes if x.name == '{{ra.model.name}}-item'), None)
delete_route = next((x for x in app.routes if x.name == '{{ra.model.name}}-delete'), None)
list_route = next((x for x in app.routes if x.name == '{{ra.model.name}}-list'), None)

if create_route:
  app.routes.remove(create_route)
if update_route:
  app.routes.remove(update_route)
if delete_route:
  app.routes.remove(delete_route)
if list_route:
  app.routes.remove(list_route)

app.include_router({{ra.model.label}}View.router())
