{% from 'macros/macros.html' import crispy_form_view, crispy_form_page_layout, crispy_form_layout %}

{% set parent_url = "__"+view.model_name+"__"+data["_id"]|to_string %}
{% if is_modal %}
  {% set post_url = "/"+view.model_name+"/"+data["_id"]|to_string+"?redirect_url="+redirect_url %}
{% else %}
  {% set post_url = "/"+view.model_name+"/"+data["_id"]|to_string %}
{% endif %}


<div class="p-6 mx-auto w-full">
  <h3 class="text-xl mt-3 mb-2">Update {{ view.model_name|to_proper_case }}</h3>
  <div class="w-full">
    <form id="{{ view.model_name }}FormUpdate" method="POST"
      class="flex flex-1 flex-col px-4 pt-6 pb-2 w-full"
      hx-enctype="text/x-www-form-urlencoded"
      hx-post="{{ post_url }}" 
      hx-target="#viewport"
      hx-swap="innerHTML"
      hx-push-url="true"
      hx-indicator="#content-loader"
      data-processed=false
      _="on load 
          addHxVars('#{{ view.model_name }}FormUpdate')
        "
      >
      {% if page_layout %}
        {{ crispy_form_page_layout(form, page_layout) }}
      {% else %}
        {{ crispy_form_view(form) }}
      {% endif %}
      {% if is_modal %}
        <div class="mt-5 sm:mt-6 sm:grid sm:grid-cols-2 sm:gap-3 sm:grid-flow-row-dense">
          <button class="mt-3 w-full inline-flex justify-center rounded-md shadow-sm px-4 py-2 intro-x bg-white text-base font-medium text-gray-700 hover:bg-gray-50 sm:mt-0 sm:col-start-1 sm:text-sm"
            type="button" 
            _="on click add .hidden to #modal">
            Cancel
          </button>
          <button class="w-full inline-flex justify-center rounded-md shadow-sm px-4 py-2 intro-x bg-blue-500 hover:bg-blue-600 text-base font-medium text-white sm:col-start-2 sm:text-sm"
            type="submit"
            form="{{ view.model_name }}FormUpdate"
            _="on click add .hidden to #modal">
            Save
          </button>
        </div>
      {% else %}
        <div class="flex justify-end gap-3">
          <a hx-get="{{ view.list_url }}"
            hx-target="#viewport"
            hx-swap="innerHTML"
            hx-push-url="true"
            hx-indicator="#content-loader"
            class="intro-x px-3 py-2 cursor-pointer">
            Cancel
          </a>
          <button class="intro-x text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md"
            type="submit"
            form="{{ view.model_name }}FormUpdate">
            Save
          </button>
        </div>
      {% endif %}
    </form>

    {% if related_fields %}
      <div id="tabs">
        <div class="tab-list flex space-x-8 px-3 py-2 bg-white">
          {% for rl in related_fields %}
            <a class="border-indigo-500 text-indigo-600 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm cursor-pointer"
              aria-current="page"
              xhx-get="/app_related/{{ rl._id|to_string }}"
              xhx-target="#related-tab-contents"
              xhx-swap="outerHTML">
              {{ rl.target_collection | to_proper_case }}
            </a>
          {% endfor %}
        </div>
        <div id="related-tab-contents" 
          class="p-3"
          xhx-get="/app_related/{{ related_fields[0]._id|to_string }}"
          xhx-trigger="load"
          xhx-swap="outerHTML">
        </div>
      </div>
    {% endif %}
  </div>
</div>
{% if request.state.htmx and not is_modal %}
  {% include 'core/item_breadcrumbs.html' %}
{% endif %}
