{% extends "shell/auth_base.html" %}

{% block content %}
  <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
    <div class="intro-y flex-1 flex flex-col justify-center items-center py-5 xl:py-0 my-10 xl:my-0 w-full sm:w-3/4 lg:w-2/4 xl:w-auto text-emerald-50">

      <h1 class="text-2xl">Approve User</h1>
      <p>Please review the following account and either approve or reject for <strong>FALM</strong>.</p>
      <table class="min-w-full divide-y divide-gray-300">
        <thead class="thead-dark">
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold sm:pl-6 lg:pl-8">Username</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold">Email</th>
        </thead>
        <tbody class="divide-y divide-gray-200 xbg-white">
          <tr>
            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium xtext-gray-900 sm:pl-6 lg:pl-8">
              {{ wfr.data.username }}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm xtext-gray-500">
              {{ wfr.data.email }}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="min-w-full flex justify-end">
        <form method="post"
          xtarget="hiddenFrame"  
          action="/wf/trigger-workflow-run-as-form"
          class="mx-2">
          <input type="hidden" name="database" value="{{database}}"> 
          <input type="hidden" name="id" value="{{id}}"> 
          <input type="hidden" name="trigger" value="approve"> 
          <input type="hidden" name="user" value='{ "username": "Matt", "actions": ["approve_registration"] }'>
          <a class="btn btn-primary py-3 px-4 w-full py-3 px-4 w-full xl:w-32 mt-3 xl:mt-0 block text-center" 
            onclick="this.parentNode.submit();">
            Approve
          </a>
        </form>

        <form method="post" 
          xtarget="hiddenFrame" 
          action="/wf/trigger-workflow-run-as-form"
          class="mx-2">
          <input type="hidden" name="database" value="{{database}}"> 
          <input type="hidden" name="id" value="{{id}}"> 
          <input type="hidden" name="trigger" value="reject"> 
          <input type="hidden" name="user" value='{ "username": "Matt", "actions": ["approve_registration"] }'>
          <a class="btn btn-outline py-3 px-4 w-full py-3 px-4 w-full xl:w-32 mt-3 xl:mt-0 block text-center" 
            onclick="this.parentNode.submit();">
            Reject
          </a>
        </form>
      </div>
      <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
    </div>
  </div>
{% endblock %}