<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>QuickBooks Test</title>
    <link href="/static/external/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>QuickBooks Test</h1>
      <ul>
        <li>access_token: {{request.session['access_token']}}</li>
        <li>refresh_token: {{request.session['refresh_token']}}</li>
        <li>id_token: {{request.session['id_token']}}</li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>