{% extends "shell/auth_base.html" %}

{% block content %}
  <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
    <div class="intro-y flex-1 flex flex-col justify-center items-center py-5 xl:py-0 my-10 xl:my-0 w-full sm:w-3/4 lg:w-2/4 xl:w-auto text-emerald-50">
      <h1 class="text-2xl">Reset Password</h1>
      <p>Please enter a new password for your account.</p>
      <div class="flex xmin-w-full">
        <form method="post"
          xtarget="hiddenFrame"  
          action="/wf/trigger-workflow-run-as-form"
          class="d-flex flex-column mx-2">
          <p>
            <input type="hidden" name="database" value="{{database}}"> 
            <input type="hidden" name="id" value="{{id}}"> 
            <input type="hidden" name="email" value="{{wfr.data.email}}"> 
            <input type="hidden" name="trigger" value="update_password"> 
            <input name="password" type="password" class="form-control block w-full px-3 py-2 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 mt-4 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              class-two="intro-x login__input form-control py-3 px-4 border-gray-300 block mt-4" placeholder="Password">
          </p>
          <a onclick="this.parentNode.submit();"
            class="btn btn-primary py-3 px-4 w-full py-3 px-4 w-full xl:w-42 mt-4 block text-center"
            >Change Password
          </a>
        </form>
      </div>
      <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
    </div>
  </div>
{% endblock %}
