<!DOCTYPE html>
<html lang="en" class="light">
  <!-- BEGIN: Head -->
  <head>
    <meta charset="utf-8">
    <link href="{{ url_for('static', path='/images/logo.svg') }}" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FALM</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/midone.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/toggle-radios.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/toggle-switch.css') }}" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.4"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script type="module" src="{{ url_for('static', path='/js/components/multi-select.js') }}"></script>

  </head>
  <!-- END: Head -->
  <body class="main"
    _="on keydown[key=='Escape'] add .hidden to #user-menu
        on click
          if not ['user-menu-button', 'user-menu-item-0', 'user-menu-item-1', 'user-menu-item-2'].includes(target.id)
            add .hidden to #user-menu
          end">
    <div id="content-loader" class="flex justify-end -mr-6 -mt-3 htmx-indicator">
      <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
      </svg>
    </div>
    <!-- BEGIN: Mobile Menu -->
    {# {% include 'mobile-menu.html' %} #}
    <!-- END: Mobile Menu -->
    <div class="flex">
      <!-- BEGIN: Side Menu -->
      {% include 'side-menu.html' %}
      <!-- END: Side Menu -->
      <!-- BEGIN: Content -->
      <div class="content">
        <!-- BEGIN: Top Bar -->
        <div class="top-bar">
          <!-- BEGIN: Breadcrumb -->
          {% block breadcrumb %}
          <div id="breadcrumbs">
          </div>
          {% endblock breadcrumb %}
          <!-- END: Breadcrumb -->
          <!-- BEGIN: Account Menu -->
          {% include 'account-menu.html' %}
          <!-- END: Account Menu -->
        </div>
        <!-- END: Top Bar -->
        <div class="grid">
          {# {% include 'messages.html' %} #}
          <div id="viewport">
            {% block content %}
            {% endblock content %}
          </div>
        </div>
      </div>
      <!-- END: Content -->
    </div>
    {# {% django_htmx_script %} #}
    {# {% include 'scripts.html' %}         #}


    <div id="modal" class="hidden fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
      <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <!--
          Background overlay, show/hide based on modal state.

          Entering: "ease-out duration-300"
            From: "opacity-0"
            To: "opacity-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100"
            To: "opacity-0"
        -->
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

        <!-- This element is to trick the browser into centering the modal contents. -->
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

        <!--
          Modal panel, show/hide based on modal state.

          Entering: "ease-out duration-300"
            From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            To: "opacity-100 translate-y-0 sm:scale-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100 translate-y-0 sm:scale-100"
            To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        -->
        <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-4xl sm:w-full sm:p-6">
          <div id="modal-content">
          </div>
          <div class="mt-5 sm:mt-6 sm:grid sm:grid-cols-2 sm:gap-3 sm:grid-flow-row-dense">
            <button class="mt-3 w-full inline-flex justify-center rounded-md shadow-sm px-4 py-2 intro-x bg-white text-base font-medium text-gray-700 hover:bg-gray-50 sm:mt-0 sm:col-start-1 sm:text-sm"
              type="button" 
              _="on click add .hidden to #modal">
              Cancel
            </button>
            <button class="w-full inline-flex justify-center rounded-md shadow-sm px-4 py-2 intro-x bg-blue-500 hover:bg-blue-600 text-base font-medium text-white sm:col-start-2 sm:text-sm"
              type="button" 
              _="on click add .hidden to #modal">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>


    <script>
      function addHxVars() {
        const el = document.querySelector('#frmUpdate');
        if (el) {
          let list = [];
          let vars = el.getAttribute('hx-vars') || '';
          if (vars) {
            list.push(vars);
          }
          const multiSelects = Array.from(el.querySelectorAll('multi-select'));
          for (m of multiSelects) {      
            list.push(`'${m.id}':getComponentValues('#${m.id}')`);
          }
          if (list.length > 0) {
            el.setAttribute('hx-vars', list.join(','));
          }
        }
      }
      function getComponentValues(selector) {
        const el = document.querySelector(selector);
        let data = null;
        if (el) {
          data = el.getValues();
        }
        return data;
      }
      function handleGet(payload) {
        console.log('payload', payload);
        let partial = payload
          .replaceAll("'", '"')
          .replaceAll('True', true);        
        //console.log('partial', partial);
        let data = JSON.parse(partial);
        let output = [];
        output.push(`<h1 class="text-2xl leading-6 font-medium text-gray-900 mb-4" id="modal-title">
            Update Field
          </h1>`);
        for (let [k, v] of Object.entries(data)) {
          output.push(`<div class="mb-4 flex-1">
            <label class="block text-gray-700 text-sm font-light mb-2" for="${k}">${k}</label>
            <input class="
              form-control
              block
              w-full
              px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              id="${k}" 
              name="${k}" 
              ${data['validators'].includes('DataRequired()XXX') ? `required=""` : ''} 
              type="text" 
              value="${v}">
          </div>`);
        }
        const html = output.join('');
        const modalContent = document.querySelector('#modal-content');
        const modal = document.querySelector('#modal');
        modalContent.innerHTML = html;
        modal.classList.remove('hidden');
      }
    </script>

  </body>
</html>