<!DOCTYPE html>
<html lang="en" class="light">
  <!-- BEGIN: Head -->
  <head>
    <meta charset="utf-8">
    <link href="{{ url_for('static', path='/images/logo.svg') }}" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="htmx-config" content='{"useTemplateFragments": true}'>
    <title>FALM</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/midone.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/toggle-radios.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/toggle-switch.css') }}" rel="stylesheet">
    <!-- <script src="{{ url_for('static', path='/external/js/htmx.js') }}"></script> -->
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.5"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <!-- <script type="module" src="{{ url_for('static', path='/js/components/multi-select.js') }}"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rome/3.0.2/rome.min.css" integrity="sha512-4L16meoB/Rg9Z+IwlKrZx7EwIAnofy3waCEhjh9rxqjfUNeJacxPJaGt245S9hczGy4VF4480o3zFmyHIntNag==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rome/3.0.2/rome.min.js" integrity="sha512-6dYWGytIX8ckwWWAvdxb+TL7rB37kM9/Kv6tHyDkKyEF4oDVXvR9KYyMzkRYtpnNLexvSpSROUSAomX8Td7Dug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <!-- END: Head -->
  <body class="main"
    _="on keydown[key=='Escape']
        add .hidden to #user-menu
        add .hidden to #modal
      on click
        if not ['user-menu-button', 'user-menu-item-0', 'user-menu-item-1', 'user-menu-item-2'].includes(target.id)
          add .hidden to #user-menu
        end">
    <div id="content-loader" class="flex justify-end -mr-6 -mt-3 htmx-indicator">
      <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
      </svg>
    </div>
    <!-- BEGIN: Mobile Menu -->
    {# {% include 'mobile-menu.html' %} #}
    <!-- END: Mobile Menu -->
    <div class="flex">
      <!-- BEGIN: Side Menu -->
      {% include 'side-menu.html' %}
      <!-- END: Side Menu -->
      <!-- BEGIN: Content -->
      <div class="content">
        <!-- BEGIN: Top Bar -->
        <div class="top-bar">
          <!-- BEGIN: Breadcrumb -->
          {% block breadcrumb %}
          <div id="breadcrumbs">
          </div>
          {% endblock breadcrumb %}
          <!-- END: Breadcrumb -->
          <!-- BEGIN: Account Menu -->
          {% include 'account-menu.html' %}
          <!-- END: Account Menu -->
        </div>
        <!-- END: Top Bar -->
        <div class="grid">
          {# {% include 'messages.html' %} #}
          <div id="viewport">
            {% block content %}
            {% endblock content %}
          </div>
        </div>
      </div>
      <!-- END: Content -->
    </div>
    {# {% django_htmx_script %} #}
    {# {% include 'scripts.html' %}         #}


    <div id="modal" 
      class="hidden fixed z-50 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
      <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <!--
          Background overlay, show/hide based on modal state.

          Entering: "ease-out duration-300"
            From: "opacity-0"
            To: "opacity-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100"
            To: "opacity-0"
        -->
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

        <!-- This element is to trick the browser into centering the modal contents. -->
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

        <!--
          Modal panel, show/hide based on modal state.

          Entering: "ease-out duration-300"
            From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            To: "opacity-100 translate-y-0 sm:scale-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100 translate-y-0 sm:scale-100"
            To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        -->
        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:align-middle sm:max-w-4xl sm:w-full">
          <div id="modal-content">
          </div>
        </div>
      </div>
    </div>

    <script>
      function configRome(elt) {
        rome(elt, { time: true });
      }
      function configTomSelect(elt) {
        var config = {
          plugins: {
            remove_button:{
              title:'Remove this item',
            }
          }
        };
        new TomSelect(elt,config);
      }
      function updateFeatherIcons() {
        feather.replace();
      }
      function processModal(selector, is_modal) {
        const el = document.querySelector(selector);
        if (el && is_modal) {
          let is_processed = el.dataset.processed;
          if (!is_processed) {
            let post = el.getAttribute('hx-post');
            let path = location.pathname;
            let url = `${post}?redirect_url='${path}'`;
            el.setAttribute('hx-post', url);
            el.dataset.processed = true;
            if (el['htmx-internal-data']) {
              el['htmx-internal-data'].path = url;
            }
            htmx.process(el.parentElement);
          }
        }
      }
      function addHxVars(selector) {
        const el = document.querySelector(selector);
        const processed = el.dataset.processed;
        if (el && !processed) {
          let list = [];
          let vars = el.getAttribute('hx-vars') || '';
          if (vars) {
            list.push(vars);
          }
          const multiSelects = Array.from(el.querySelectorAll('multi-select'));
          for (m of multiSelects) {      
            list.push(`'${m.id}':getComponentValues('#${m.id}')`);
          }
          if (list.length > 0) {
            el.setAttribute('hx-vars', list.join(','));
          }
          //updateFeatherIcons();
          el.dataset.processed = true;
        }
      }
      function getComponentValues(selector) {
        const el = document.querySelector(selector);
        let data = null;
        if (el) {
          data = el.getValues();
        }
        return data;
      }
      /*
        Reference:
          https://gist.github.com/kageurufu/6813878
      */
      function addDynamicRowByTemplate(elt, selector) {
        const oldRow = document.querySelector(`tbody${selector} tr:last-child`);
        rowInput = oldRow.querySelector("input");
        let new_id = `${selector
          .replace('#', '')
          .replace('body', '0')}`;
        if (rowInput) {
          const elem_id = rowInput.id;
          new_id = elem_id.replace(/.*-(\d).*/m, function(input, match) { 
            const nextValue = parseInt(match) + 1;
            return input.replace(match, nextValue);
          });
        }
        const tpl = document.querySelector('#row-template');
        const tplClone = tpl.cloneNode(true);
        const newInput = tplClone.content.querySelector('input');
        newInput.id = new_id;
        newInput.setAttribute('name', new_id);
        oldRow.insertAdjacentHTML('afterend', tplClone.innerHTML);
        if (!rowInput) {
          oldRow.remove();
        }
      }
    </script>
    <script type="text/hyperscript">
      def toggleElementVisibility(elt, selector, values)
        if elt.value is not in values
          add .hidden to #{selector}
        else
          remove .hidden from #{selector}
        end
      end

      def addRowTemplate(elt)
        get the #row-template's innerHTML then
        put it at the end of the #validator-body
        _hyperscript.processNode(the last <tr />)
      end
      def toggleVisibilityBy(elt, source, target, value)
        set selector to elt.id.replace(source, target)
        if elt.value == value
          add .hidden to #{selector}.closest("tr")
        else
          remove .hidden from #{selector}.closest("tr")
        end
      end
      def toggleTableRowHidden(elt, source, trueTargets, falseTargets, value)
        for tgt in trueTargets
          set selector to elt.id.replace(source, tgt)
          if elt.value == value
            remove .hidden from #{selector}.closest("tr")
          else
            add .hidden to #{selector}.closest("tr")
          end
        end
        for tgt in falseTargets
          set selector to elt.id.replace(source, tgt)
          if elt.value == value
            add .hidden to #{selector}.closest("tr")
          else
            remove .hidden from #{selector}.closest("tr")
          end
        end
      end
      def toLower(elt)
        set elt.value to elt.value.toLowerCase()
      end
      def toLowerUri(elt)
        set elt.value to elt.value.toLowerCase().replaceAll(" ", "/")
      end
      def toLowerSnake(elt)
        set elt.value to elt.value.toLowerCase().replaceAll(" ", "_")
      end
      def copyToLower(elt, target)
        set #{target}.value to elt.value.toLowerCase()
      end
      def copyToLowerUri(elt, target)
        set #{target}.value to elt.value.toLowerCase().replaceAll(" ", "/")
      end
      def copyToLowerSnake(elt, target)
        set #{target}.value to elt.value.toLowerCase().replaceAll(" ", "_")
      end
    </script>

  </body>
</html>